body {
    background: #c21a1a;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
}

main {
    background: rgb(92, 184, 212);
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
  }

h1 {
    font-size: 300%;
}

.artObject {
    max-width: 85%;
    max-height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
   }

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.7em;
    }

    p {
    font-size: 2.5em;
}
.artObjectsm {
    width: 450px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
  }