body {
    background: #c21a1a;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
}
main {
    background: rgb(129, 193, 212);
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
  }
.artObject {
    max-width: 95%;
    max-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
   }

.comment {
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 70%;
    min-width: 15rem;
    background-color: rgba(255, 0, 0, 0.575)
}

form {
    margin: 2rem auto;
    width: 50%;
    min-width: 15rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.formSection {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button {
    padding: 0;
    font: inherit;
    background-color: white;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: black;
}
label {
    display: inline-block;
    width: 80%;
}
input, textarea {
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    min-height: 2rem;
    font-size: 1.2rem;
}
textarea {
    vertical-align: top;
    height: 5rem;
}